
ul,li{margin:0;padding;0;display:block;}

.content_header{
	
	height:80px;
	border-bottom:1px solid grey;
	border-color:#ddd;
	margin:10px 10px 0px 10px;	
	padding-top:20px;
}

.content_header  h2{
	text-align:center;
	font-size:26px;
	font-family:宋体;
	font-weight:normal;
	font-style:normal;
}

.content_header  h3{
	text-align:center;
	font-family:宋体;
	font-weight:normal;
	font-style:normal;
	line-height:20px;
}

.content_header  span{
	font-size:14px;
}

.content_body{
	font-family:宋体;
	font-weight:normal;
	font-style:normal;
	min-height:607px;
	line-height:17px;
	 	
}

#pos
{
	text-align:left;
	font-family:宋体;
	font-weight:normal;
	font-style:normal;
	font-size:13px;
	line-height:13px;	
	margin:0 0 15px 5px;
	 
}
.content_body i
{
 
	font-family:宋体;
	font-weight:normal;
	font-style:normal;
	font-size:13px;
	line-height:13px;
	color:#23bab5;
}
.content_body ul li{
	 /*height:10px;*/
	 /*line-height:20px;*/
	 list-style:none; 
	 vertical-align: bottom;
}	
.content_body ul{
	margin-left:30px;
}


#content table {
    table-layout: fixed;
    word-wrap:break-word;
}

#content{
	
	margin: 30px 20px 40px 20px;
	
}